* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: Calibri;
    background-color: rgb(12, 93, 214);
    color: rgb(236, 227, 227);

}

/* Navigation bar for the user to switch between the rules and the game */
#score-section nav {
    list-style: none;
    font-size: 30px;
    background-color: rgb(26, 25, 25);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    height: 90px;
}

#score-section nav>button {
    background-color: rgb(82, 79, 79);
    border: 2px black solid;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* This is the top of the page, where the UI displays lives remaining and score */
#score-section {
    opacity: 1;
}

p.scoreCount {
    font-size: 50px;
}

p.livesRemaining {
    font-size: 50px;
}

/* This part contains the entire game, including the images of both 
the computer and the user, the 5 option buttons and the text */
#game {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;



}

#game div p {
    text-align: center;
}

/* This part contains the rules of the game, with a picture of the possible
moves and the button for starting the game. */
.rules {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;

}

.rules h2 {
    text-decoration: underline;
    padding: 15px;
    font-size: 30px;
}

.rules p {
    font-size: 20px;
}

.rules img {
    width: 300px
}

.rules div {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#lets-play {
    color: rgb(236, 227, 227);
    background-color: red;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    border-radius: 3%;
}

#lets-play a {
    text-decoration: none;
    color: white;
}

/* This part specifically contains the main game part */
.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;

}

h2.win {
    text-align: center;
    font-size: 70px;
    padding: 50px;
    overflow: hidden;
}


div.selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}



div.selection p {
    font-size: 50px;
}

img.computers-selection {
    border-radius: 50%
}

img.players-selection {
    border-radius: 50%
}

div.options {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.options button {
    border: none;
    color: rgb(236, 227, 227);
    background-color: red;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 5%;
    font-weight: 600;
    font-size: 30px;

}

/* The players selection and the computers selection */
img.players-selection {
    width: 200px;
    height: 200px;
}

img.computers-selection {
    width: 200px;
    height: 200px;
}

/* This part contains the pop up box once the game has ended */
.gameOver {
    height: 300px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 10px black;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    flex-direction: column;
}

div.gameOver p {
    font-size: 50px;
}

.resetGame {
    color: white;
    background-color: green;
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-size: 20px;
}

footer {
    background-color: rgb(82, 79, 79);
    bottom: 0px !important;
    left: 0px !important;
    height: auto;

}

footer i {
    color: white;
    width: 40px;
    height: 40px;
    padding-left: 20px;
    text-align: center;

}

footer a {
    margin: auto 0;
    text-align: center;
}

footer p {
    padding-top: 5px;
    text-align: center;

}

/* Media Queries for different display sizes*/

@supports (display: flex) {
    @media screen and (max-width: 300px) {
        .options button {
            border: solid black 2px;
            color: rgb(236, 227, 227);
            background-color: red;
            width: 30px;
            height: 20px;
            cursor: pointer;
            border-radius: 5%;
            font-size: 7px;
        }
    }

    @media screen and (max-width: 400px) {
        .rules p {
            font-size: 1px;
        }

        .rules img {
            background-size: contain;
        }

        .resetGame {
            height: 53px;
            width: 111px;
        }
    }

    @media screen and (max-width: 500px) {
        div.gameOver {
            height: 150px;
            width: 200px;
        }

        div.gameOver p {
            font-size: 31px;
        }

        .rules p {
            font-size: 12px;
        }

        img.computer-selection {
            height: 150px;
            width: 150px;
        }

        img.player-selection {
            height: 150px;
            width: 150px;
        }

        div.selection p {
            font-size: 30px;
            padding-bottom: 10px;
        }

        h2.win {
            padding: 125px 0 0 0;
            font-size: 30px;
        }

        .rules img {
            background-size: contain;
        }

        .options button {
            width: 25px;
            font-size: 20px;
        }

        p.livesRemaining {
            font-size: 30px;
        }

        div#lives h2 {
            font-size: 20px;
        }

        p.scoreCount {
            font-size: 30px;
        }

        div#score h2 {
            font-size: 20px;
        }

    }

    @media screen and (max-width: 900px) {
        .rules h2 {
            font-size: 20px;
        }

        .rules p {
            font-size: 15px;
        }

        div.selection {
            flex: 2;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

        }

        div.options {
            padding: 0;
            display: flex;
            flex-direction: row;
            font-size: 16px;
        }

        .options button {
            border: none;
            color: rgb(236, 227, 227);
            background-color: red;
            width: 80px;
            height: 30px;
            cursor: pointer;
            border-radius: 5%;
            font-weight: 600;
            font-size: 15px;
        }

        h2.win {
            text-align: center;
            font-size: 34px;
            padding-top: 140px;
        }

    }



    @media screen and (min-height: 844px) {
        footer {
            padding-top: 50px;
        }
    }


    @media screen and (min-height: 1000px) {
        footer {
            height: 100px;
        }

        .rules p {
            font-size: 20px;
        }

        .rules h2 {
            font-size: 27.5px;
        }
    }

    @media screen and (max-height: 650px),
    (max-width: 350px) {
        h2.win {
            padding: 300px 0 0 0;

        }

    }

    @media screen and (max-height: 700px),
    (min-width: 500px) {
        #score-section nav>button {
            height: 20px;
            font-size: 15px;
        }

        #score-section nav {
            height: 50px;
        }

        #game div p {
            font-size: 20px;
        }

        #game div h2 {
            font-size: 25px;
        }


    }

    @media screen and (min-height: 1024px),
    (min-width:800px) {
        .rules {
            padding-bottom: 40px;
        }

        .rules img {
            background-size: contain;
        }


        footer {
            height: 120px;
        }

        .rules p {
            font-size: 22px;
        }

        .rules h2 {
            font-size: 35px;
        }

        footer p {
            font-size: 25px;
        }

        #score-section nav>button {
            font-size: 30px;
            cursor: pointer;
            height: 40px;

        }

        #score-section nav {
            list-style: none;
            font-size: 30px;
            display: flex;
            justify-content: space-around;
            flex-direction: column-reverse;
            height: 90px;
        }

    }
}