* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: Calibri;
    background-color: rgb(12, 93, 214);
    color: rgb(236, 227, 227);

}

/* Navigation bar for the user to switch between the rules and the game */
#header {
    height: 100px;
    position:static;
    overflow: hidden;
}

.rulesNav {
    opacity: 1;
    pointer-events: all;
}

.gameNav {
    opacity: 1;
    pointer-events: all;
}

#score-section nav {
    list-style: none;
    font-size: 30px;
    background-color: rgb(79, 82, 82);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
    overflow: hidden;
}

#score-section nav>button {
    background-color: rgb(255, 0, 0);
    border: 2px black solid;
    color: white;
    font-size: 24px;
    cursor: pointer;
    width: 115px;
    height: 60px;
}

/* This is the top of the page, where the UI displays lives remaining and score */
#score-section {
    opacity: 1;
}

p.scoreCount {
    font-size: 50px;
}

p.livesRemaining {
    font-size: 50px;
}

/* This part contains the entire game, including the images of both 
the computer and the user, the 5 option buttons and the text */
#game {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 80px;
}

#game div p {
    text-align: center;
}

/* This part contains the rules of the game, with a picture of the possible
moves and the button for starting the game. */
.rules {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 44rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 40%;
    padding-bottom: 70px;
}



.rules h2 {
    text-decoration: underline;
    padding: 15px;
    font-size: 15px;
}

.rules p {
    font-size: 18px;
}

.rules img {
    width: 300px
}

.rules div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* This part specifically contains the main game part */
.match {
text-align: center;
opacity: 0;
}

h2.win {
    text-align: center;
    font-size: 50px;
    width: 30%;
    margin: 0 auto;
    opacity: 0;
}


div.selection {
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#playergroup {
    float: right;
    width: 50%;
}

#compgroup {
    float: left;
    width: 27%;
}


div.selection p {
    font-size: 50px;
}

img.computers-selection {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}


img.players-selection {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}


div.options {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.options button {
    border: black 3px solid;
    color: rgb(236, 227, 227);
    background-color: red;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 5%;
    font-weight: 600;
    font-size: 30px;
    pointer-events: all;
}

/* The players selection and the computers selection */
img.players-selection {
    width: 200px;
    height: 200px;
}

img.computers-selection {
    width: 200px;
    height: 200px;
}

/* This part contains the pop up box once the game has ended */
.gameOver {
    height: 300px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 10px black;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
}

div.gameOver p {
    font-size: 50px;
}

.resetGame {
    color: white;
    background-color: green;
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-size: 20px;
}

footer {
    background-color: rgb(82, 79, 79);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: -50px;
}

footer i {
    color: white;
    width: 40px;
    height: 40px;
    padding-left: 20px;
    text-align: center;
}

footer a {
    margin: auto 0;
    text-align: center;
}

footer p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* Media Queries for different display sizes*/
/* These media queries are sorted by size (width, height)*/

@supports (display: flex) {

    @media screen and (max-width: 700px) {
        #score-section nav {
            font-size: 16px;
        }

        #score-section nav>button {
            font-size: 18px;
            height: 40px;
        }

        #game {
            font-size: 16px;

        }

        #game h2 {
            font-size: 18px;
        }

        .rules p {
            font-size: 16px;
        }

        .rules img {
            width: 175px;
        }

        .rules h2 {
            font-size: 22px;

        }

        .options button {
            width: 80px;
            height: 30px;
            font-size: 17px;
        }

        img.computers-selection {
            width: 135px;
            height: 135px;
        }

        img.players-selection {
            width: 135px;
            height: 135px;
        }

        div.selection p {
            font-size: 33px;
        }

        h2.win {
            text-align: center;
            font-size: 35px;
            width: 100%;
        }

        .gameOver {
            height: 220px;
            width: 290px;
            border: solid 6px black;
            position: absolute;
            top: 20rem;
        }

        div.gameOver p {
            font-size: 33px;
        }

        .resetGame {
            width: 100px;
            height: 50px;
            font-size: 19px;

        }

        .rules {
            height: 50vw;
        }

    }
    @media screen and (max-width: 400px) {
        #score-section nav {
            font-size: 12px;
        }

        #score-section nav>button {
            font-size: 14px;
            height: 20px;
        }

        #game {
            font-size: 12px;

        }
        .rules {
            position: absolute;
            top:33rem;
            
        }

        .rules p {
            font-size: 12px;
        }

        .rules h2 {
            font-size: 16px;

        }

        .gameOver {
            height: 160px;
            width: 230px;
            border: solid 6px black;
        }

        div.gameOver p {
            font-size: 27px;
        }

        .resetGame {
            width: 70px;
            height: 40px;
            font-size: 14px;
        }

        img.computers-selection {
            width: 100px;
            height: 100px;
        }

        img.players-selection {
            width: 100px;
            height: 100px;
        }

        .options button {
            width: 70px;
            height: 20px;
            font-size: 12px;
        }

        .rules img {
            width: 120px;
        }

        .rules {
            height: 40vw;
        }

    }

    @media screen and (max-height: 1100px) {
        .rules {
            height: 50vw;
        }
        .rules img {
            width: 150px;
        }

        header {
            height:40px;
        }
        div.selection {
            height: 172px;
        }
    }
}