* {
    margin: 0;
    border: none;
    padding: none;
}

body {
    font-family: Calibri;
    background-color: rgb(12, 93, 214);
    color: rgb(236, 227, 227);
}

#game {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

#game div p {
    text-align: center;
}

.rules {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
}
.rules h2 {
    text-decoration: underline;
    padding:25px;
}

.rules img {
    width: 350px
}

.rules div {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#lets-play {
    border:none;
    color: rgb(236, 227, 227);
    background-color: red;
    width: 80px;
    height: 45px;
    cursor: pointer;
}

.match {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    
   }

h2.win {
    text-align: center;
}


div.selection  {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

div.selection p {
    font-size: 20px;
}

img.computers-selection {
    border-radius: 50%
}

img.players-selection {
    border-radius: 50%
}

div.options {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.options button {
    border:none;
    color: rgb(236, 227, 227);
    background-color: red;
    width: 80px;
    height: 25px;
    cursor: pointer;
    border-radius: 5%;
    font-weight: 700;

}

.fadeIn {
    opacity: 1;
    pointer-events: all;
    transition: 1.5s;
}


.fadeOut {
    opacity: 0;
    pointer-events: none;
}


